body {
    margin: 0px;
    padding: 0;
}

main{
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: yellowgreen;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img {
    height: 200px;
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
}

.list-css {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

* {
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



nav {
    background-color: tomato;
}

.is-white-text {
    color: white;
}

.is-black-text {
    color: rgb(0, 0, 0);
}

div h3 {
    color: forestgreen;
}

h1 {
    color: darkgreen;
}

.tables {
    margin-left: auto;
    margin-right: auto;
}

.tables tr:nth-child(even) {
    background-color: rgb(216, 143, 33);
}

.ordered-list {
    text-align: center;
    list-style-position: inside;
}

ol.ordered-list li
{
    text-align: left;
    margin-left: 41%;
}

.fit-picture {
    box-shadow: 5px 2.5px 15px black;
    border-radius: 25px;
}

.simple-border {
    border: 1px solid black;
    background-color: gold;
    border-radius: 25px;
    text-align: center;
}

.simple-border:hover {
    background-color: bisque;
    transition: background-color 0.5s;
}

.text-align {
    text-align: center;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
    }

.main-color {
    background-color: rgb(187, 151, 105);
}
